.inputs-fropify     
    .drop
        input.dropify(
            type="file",
            base-sixty-four-input,
            maxsize="5120",
            data-max-file-size="1000000000K",
            accept="*",
            style="padding:0px;",
            data-show-errors="true",
            (change)="changeListener($event)")

    //- .crop
    //-     .croppie([id]="randomid")
            //- .botones(*ngIf="withCroppie")
            //-     button(mat-icon-button, matTooltip="Limpiar", (click)="limpiar()")
            //-         mat-icon clear                 
            //-     button(mat-icon-button, matTooltip="Recortar", (click)="recortar()")
            //-         mat-icon create
           
